body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1a1a1a;
  color: #fefefe; 
  margin: 20px;
}

header {
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding-left: 0;
  margin: 0; 

.sidebar {
  background-color: #fefefe;
  padding: 20px;
  height: 100vh;
  width: 200px;
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: 0 0 5px #aaa;
  text-align: left;
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  margin-left: 1200px;
  border: 2px solid #333;
}

.square {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

.square.light {
  background-color: #9a9a9a;
}

.square.dark {
  background-color: #0b0b0b;
}
